body {
  font-family: "Poppins", sans-serif;
}
.anchor {
  text-decoration: none;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
/*------------------------
responsive for mobile
 -------------------------- */
@media only screen and (max-width: 600px){
/*--- for course ---*/
.course{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.reg{
    text-align: center;
}
.company{
    display: none;
}